button.mobile-toggle--navigation
nav.navigation
	ul.navigation__list
		li.navigation__item
			a(href="#").navigation__link События
		li.navigation__item
			a(href="#").navigation__link Сводка
		li.navigation__item
			a(href="#").navigation__link Устройства
		li.navigation__item
			a(href="#").navigation__link Сценарии