mixin event-card__thermal(data)
	.event-card__thermal
		span.event-card__thermal-label Темпаратура:
			strong.event-card__thermal-value #{data.temperature}C
		span.event-card__thermal-label Влажность:
			strong.event-card__thermal-value #{data.humidity}%